{% extends "padre.html" %}

{% load static %}



{% block contenido %}

    <main>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Lista de Alumnos</title>
        </head>
        <body>
            <h2>Lista de Alumnos</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Número de Camada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in alumnos %}
                    <tr>
                        <td>{{ alumno.nombre }}</td>
                        <td>{{ alumno.numero_camada }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </body>
        </html>
    </main>



{% endblock %}